[Unit]
Description=My bot
After=multi-user.target
 
[Service]
Type=idle
ExecStart=stickerbot/bot.py
Restart=always
 
[Install]
WantedBy=multi-user.target
