[Unit]
Description=My bot
After=multi-user.target
 
[Service]
Type=idle
ExecStart=stickerbot/stickerbot.py
Restart=always
 
[Install]
WantedBy=multi-user.target
